<nav class="px-2 py-2 navbar navbar-expand-lg bg-white shadow-md">
  <div class="flex flex-wrap w-full px-6">
    <div>
      <a routerLink="home"
        class="inline-block px-6 py-2 mr-2 rounded bg-black text-white font-semibold hover:bg-slate-700">Home</a>
      <a routerLink="user/profile"
        class="inline-block px-6 py-2 mr-2 rounded bg-black text-white font-semibold hover:bg-slate-700">Profile</a>
    </div>
    <div class="ml-auto">
      <ng-container *ngIf="(user$ | async) as user; else showLinks">
        {{ user?.email }}
        <a (click)="onSignOut()"
          class="inline-block px-6 py-2 mr-2 rounded bg-black text-white font-semibold hover:bg-slate-700 hover:cursor-pointer">Sign
          Out</a>
      </ng-container>
      <ng-template #showLinks>
        <a routerLink="user/sign-in"
          class="inline-block px-6 py-2 mr-2 rounded bg-black text-white font-semibold hover:bg-slate-700">Sign In</a>
        <a routerLink="user/sign-up"
          class="inline-block px-6 py-2 mr-2 rounded bg-blue-600 text-white font-semibold hover:bg-blue-400">Sign Up</a>
      </ng-template>
    </div>
  </div>
</nav>
